
@font-face {
    font-family: 'Neue Haas Unica';
    src: url('../fonts/NeueHaasUnicaPro-Light.woff');
    font-weight: lighter;
    font-style: lighter;
}

@font-face {
    font-family: 'Neue Haas Unica';
    src: url('../fonts/NeueHaasUnicaPro-Regular.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Haas Unica';
    src: url('../fonts/NeueHaasUnicaPro-Bold.woff');
    font-weight: bold;
    font-style: bold;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Neue Haas Unica' !important;
}

a {
  color: #006EAF;
}

h1, h2, h3 ,h4 {
  font-weight: bold;
}

.home-banner {
  background-color: #2D2E8E;
  color: white;
  position: relative;
  overflow: hidden;
}

.home-banner hr {
  border-color: white;
}

.home-banner .container {
  position: relative;
}

.home-banner .illustration {
  position: absolute;
  bottom: -300px;
  right: -300px;
  width: 700px;
}

.logos {
  background-color: #002147;
  position: absolute;
  top: 0;
  left: 0;
}

.logos-accs {
  background-color: #002147;
}

.logos a:first-child, .lgs a:first-child {
  border-right: 1px solid white;
}

.btn-red {
  color: white;
  background-color: #DD2501;
}

.btn-lg {
  padding: 12px 48px;
}

.box-shadow {
  box-shadow: 0 8px 16px rgba(0,0,0,0.15);
}

.btn-red:hover {
  text-decoration: none;
  color: white;
  background-color: #CA2100;
}

.key-info {
  background-color: #002147;
  color: white;
}

.navigation {
  background-color: white;
  border: 1px solid rgba(0,0,0,0.1);
}

.sticky-top {
  top: 16px;
}

i {
  color: #DD2501;
  margin-right: 8px;
  font-size: 1.2rem;
}

.bg-white {
  background-color: white;
}

.card {
  background-color: #EBEEEE !important;
}

.nav-pills {
  overflow: scroll;
}

.nav-pills .nav-link.active {
  background-color: #002147;
  color: white;
  opacity: 1;
}

.user-img {
  object-fit: cover;
  width:   140px !important;
  height:  180px !important;

}

.nav-pills .nav-link {
  color: #002147;
  opacity: .6;
}

.apply-banner {
  background-color: #DD2501;
  color: white;
}

.navigation .navigation-link {
  font-weight: bold;
  opacity: .6;
  color: #002147;
}

.navigation .navigation-link.active {
  font-weight: bold;
  opacity: 1;
}

footer {
  background-color: #002147;
  color: white;
}

.badge {
  color: white;
}

.badge-talk {
  background-color:  #006EAF;
}

.badge-workshop {
  background-color:  #006EAF;
}

.event span {
  color: #DD2501;
}
@media (min-width: 100px) and (max-width: 575px) {
  .home-banner .illustration {
    position: absolute;
    bottom: -250px;
    right: -300px;
    width: 500px;
  }
}

@media (min-width: 576px) {
  .home-banner .illustration {
    position: absolute;
    bottom: -300px;
    right: -400px;
    width: 600px;
  }
}

@media (min-width: 768px) {
  .home-banner .illustration {
    position: absolute;
    bottom: -300px;
    right: -350px;
    width: 700px;
  }
}

@media (min-width: 992px) {
  .home-banner .illustration {
    position: absolute;
    bottom: -300px;
    right: -300px;
    width: 700px;
  }
}

@media (min-width: 1200px) {
  .home-banner .illustration {
    position: absolute;
    bottom: -300px;
    right: -300px;
    width: 700px;
  }
}
